* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', cursive;
    /* background: #cdc7c7; */
}

/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Ajusta la altura según la ventana gráfica */
}

/* BY */

.container > span {
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.2rem;
}

/* BOTON DEL FORMULARIO */

.container > form {
    padding: 1.5rem;
    border-radius: 0.3rem;
    border: 2px solid black;
    box-shadow: 4px 4px black;
}

.container__form-btn {
    font-weight: bold;
    font-size: x-large;
    background: black;
    color: hsl(0, 0%, 100%);
    padding: 0.5em 2em 0.5em 2em;
    border: 2px solid #cdc7c7;
    border-radius: 1rem;
    box-shadow: 2.5px 2.5px #cdc7c7;
    transition: border 0.3s, box-shadow 0.3s, color 0.3s;
    width: 100%;
     margin-top: 1rem;
    outline: none;
}

.container__form-btn:hover {
    color: #000;
    border: 3px solid black;
    box-shadow: 4px 4px black;
    background: #fff;
}

/* ENTRADA DE DATOS */

.container__form__group {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.container__form__group > label {
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.container__form__group > input {
    font-size: x-large;
    background: transparent;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 2.5px 2.5px black;
    outline: none;
}